*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    color: #484848;
    text-align: justify;
}
body{
    padding: 5px 2%;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
}
.nav-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.nav-bar h1{
    padding-left: 15px;
    color: rgb(5, 142, 11);
}
#nav-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.nav-list-item{
    padding: 5px;
}
.nav-list-item a{
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-list-item a:hover{
    color: darkgreen;
    border-radius: 10px;
    background-color: #d3ffc6;
    padding: 8px;
}
.image-section{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.contact-form{
    border: 1px solid gray;
    border-radius: 15px;
    width: 40%;
    padding: 25px 30px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
.contact-form h2{
    font-size: 1.7rem;
    text-align: center;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 86%;
    justify-content: center;
    text-align: left;
    margin: auto;
}
.contact-form label{
    padding-left: 10px;
    padding-bottom: 5px;
}
.contact-form input, textarea, select{
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px 10px;
}
.contact-form button{
    background-color: green;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 1.1rem;
    padding: 5px 15px;
    text-align: center;
}
.tables{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0px;
}
table, th, td{
    border-collapse: collapse;
    padding: 5px;
}
/* Added Interactiveness */
tr:hover{
    background-color: gainsboro;
}
.table-1 ,.table-1 th,.table-1 td{
    border-style: dotted;
}
.table-1 th{
    background-color: #d3ffc6;
}
.table-2 tr:nth-child(even){
    background-color: #d3ffc6;
}
.table-3 th:nth-child(even), .table-3 td:nth-child(even){
    background-color: #eefaea;
}
.table-2, .table-2 th, .table-2 td{
    border: 2px solid black ;
    border-radius: 10px;
}
.table-3, .table-3 th, .table-3 td{
    border:2px white solid;
    background-color: #d3ffc6;
}
.table-4, .table-4 th, .table-4 td{
    border: 2px solid green;
}
.table-4 th{
    background-color: #e8ffc7;
}
.table-5, .table-5 th, .table-5 td{
    border: 1px groove green;
}

.lists{
    display: flex;
    flex-wrap:wrap ;
    border: 1px solid black;
    padding: 10px;
}

.nav-list-item:hover{
    background-color: white;
}
.list-of-navs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 0;
    top: 50%;
}
.list-of-navs a{
    text-decoration: none;
    text-align: center;
    background-color: #d3ffc6;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-top: 25%;
}
.grid{
    display: grid;
    gap: 2px;
}
.grid-1{
    grid-template-columns: 33% 33% 33% ;
}
.grid-1 div{
    background-color: #fa0808;
    
}
.grid div{
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.grid-2 div{
    background-color: #75e822;
}
.grid-2{
    grid-template-columns: 50px 100px minmax(100px, auto);
}
.product-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.product-container div img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    margin: 10px
}
.layout{
    width: 100%;
    height: 100vh;
    gap: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
}
@media screen and (max-width: 644px){
    .nav-bar{
        width: 100%;
        align-self: center;
        flex-direction: column;
        justify-content: center;
    }
    #nav-list{
        background-color: #d3ffc6;
        display: flex;
        flex-wrap: wrap ;
        flex-direction: column;
        padding: 2px;
        font-size: 0.5rem;
        width: 100%;
        align-content: center;
    }
    .nav-list-item a{
        width: 100%;
    }
    .tables{
        flex-wrap: wrap;
    }
}

