*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.layout{
    display: flex;

}
.col1{
    flex: 1;
    background-color: pink;
    /* width: 100px; */
    height: 100px;
}
.col2{
    flex: 1;
    background-color: red;
    /* width: 100px; */
    height: 100px;
}
.col3{
    flex: 1;
    background-color: powderblue;
    /* width: 100px; */
    height: 100px;
}

@media (max-width:600px) {
    .layout{
        height: 200px;
        flex-direction: column;
    }
}