.div-1{
    background-color: darkkhaki;
}
.div-2{
    background-color: pink;
}
.div-1, .div-2{
    padding: 2rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100vh;
}