
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: optima; */
    font-family:  "Lexend";
    text-align: justify;
}
body{
    background-color: #212121;
    color: white;
}
nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 20px 30px;
    border-radius: 25px;
}
nav .title span{
    font-size: 1.3rem;
    font-weight: bolder;
}
nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
nav p{
    align-items: center;
    padding: 10px;
}


.intro{
    margin: 12%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 88%;
}
.text-intro{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 2rem;
}
.text-intro span{
    font-family: "Pacifico", cursive, sans-serif;
    color:#00d9ff;
    font-size: 2rem;
}
.image{
    display: flex;
    justify-content: center;
}
.intro .image img{
    border-radius: 50%;
    height: auto;
    width: 60%;
}
.intro-btn{
    padding: 10px;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    margin-top: 15px;
}
.intro-btn:hover{
    background-color: gray;
    border: 1.5px solid gray;
    color: whitesmoke;
}
.about{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background:linear-gradient(135deg, #00ffff, #4169e1);
}
.about h1{
    color: #212121;
    text-align: center;
    padding: 10px;
    font-size: 3rem;
}
.about-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.about .para{
    width: 45%;
    padding:2% 5%;
    font-size: 1.2rem;
    color: #212121;
}
.skill-grid{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    padding: 10px;
    justify-content: space-between;
    /* margin: auto; */
    padding: 2%;
}
.skill-grid h2{
    color: #212121;
    margin: 5px 0px;
}
.container{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 2fr 3fr  ;
    align-items:flex-start;
    /* background-color: #fff;
    gap: 10px; */
}
.html-skill, .react-skill, .node-skill, .css-skill{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 20px;
    /* border-radius: 25px; */
    background-color: black;
    padding: 1px 8px;
    font-weight: 200;
    font-size: 0.5rem;
    color:#00ffff;
}
.html-skill{
    width: 80%;
} 
.css-skill{
    width: 80%;
}
.react-skill{
    width: 75%;
} 
.node-skill{
    width: 70%;
} 

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 30px;
    position: relative;
    animation: moveBox 4s infinite ;
}
.projects .project-list{
    display: flex;
    flex-direction: column;
    margin: auto 5%;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 0px;
    padding: 40px;
    align-items: center;
    gap: 3%;
}
.items .desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
}
.items .desc h3{
    /* padding: 10px 0px; */
    font-size: 2rem;
    color: #00d9ff;
}
.items .desc h4{
    padding: 5px 0px;
    font-size: 1.2rem;
}
.item-1{
    display: flex;
    flex-direction: row;
}
.item-2{
    display: flex;
    flex-direction: row-reverse;
}
.items .desc ul{
    padding: 20px;
    list-style-type: square;
}

.desc ul li{
    padding: 5px 0px;
    font-size: 0.8rem;
}
.contact-form{
    color: #212121;
    border: 1px solid gray;
    background:linear-gradient(135deg, #00ffff, #4169e1);
    border-radius: 15px;
    width: 40%;
    padding: 25px 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.contact-form h2{
    font-size: 1.7rem;
}
.contact-form form{
    display: flex;
    color: #212121;
    flex-direction: column;
    width: 86%;
    justify-content: center;
    text-align: left;
    margin: auto;
}
.contact-form label{
    padding-left: 10px;
    padding-bottom: 5px;
}
.contact-form input, textarea, select{
    width: 100%;
    background-color: #212121;
    color: white;
    border: 1px solid #00d9ff;
    border-radius: 20px;
    padding: 10px 10px;
}
.contact-form select{
    color: gray;
}
.contact-form button{
    background-color:white;
    border-radius: 20px;
    color: #212121;
    border: none;
    font-size: 1.1rem;
    padding: 5px 15px;
    width: 40%;
    display: block;
    margin: 10px auto 0; 
}
fieldset{
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
legend{
    font-weight: 700;
    margin-left: 20px;
}
footer{
    display: flex;
    padding: 20px;
    justify-content: center;
    color:white;
}

@media (max-width : 900px){
    .contact-form{
        width: 75%;
    }
    .items{
        flex-direction: column;
    }
    .items img{
        width: 100%;
    }
    .contact-form button{
        width: 100%;
    }
    .about-flex{
        flex-direction: column;
    }
    .about .para{
        font-size: 0.8rem;
        width: 100%;
    }
    .skill-grid{
        width: 94%;
        margin: auto;
        height: 300px;
    }
}