*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  "Lexend";
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: #212121;
    color: white;
}
nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 20px auto;
    border-radius: 25px;
    width: 90%;
}
nav .title span{
    font-size: 1.3rem;
    font-weight: bolder;
    padding-left: 30px;
}
nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}
nav a{
    /* padding: 10px; */
    text-decoration: none;
    color: black;
}
nav p{
    align-items: center;
    padding: 10px;
}
nav .list a:hover, nav .list p:hover{
    color: #00d9ff;
}
.intro{
    margin: 8% 12%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 88%;
}
.text-intro{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 2rem;
}
.text-intro span{
    font-family: "Pacifico", cursive, sans-serif;
    color:#00d9ff;
    font-size: 1.5rem;
}
.intro .icons a img{
    padding-right: 10px;
    padding-top: 10px;
}
.intro .image{
    display: flex;
    justify-content: center;
}
.intro .image img{
    border-radius: 10px;
    height: auto;
    width: 60%;
    box-shadow: 0px 0px 13px 0px #808080;
}
.intro-btn{
    padding: 10px;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    margin-top: 15px;
}
.intro-btn:hover{
    background-color: gray;
    border: 1.5px solid gray;
    color: whitesmoke;
}
.about{
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    background:linear-gradient(135deg, #00ffffe4, #4169e1de);
    backdrop-filter: blur(50px);
}
.about h2{
    color: #212121;
    text-align: center;
    padding: 10px;
    font-size: 2.5rem;
}
.about-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.about .para{
    width: 45%;
    padding:2% 5%;
    font-size: 1rem;
    color: #212121;
}
.skill-grid{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    padding: 10px;
    justify-content: space-between;
    /* margin: auto; */
    padding: 2%;
    color: black;
}
.skill-grid h3{
    color: #212121;
    margin: 5px 0px;
}
.container{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 2fr 3fr  ;
    align-items:flex-start;
    /* background-color: #fff;
    gap: 10px; */
}
.html-skill, .react-skill, .node-skill, .css-skill{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 20px;
    /* border-radius: 25px; */
    background-color: black;
    padding: 1px 8px;
    font-weight: 200;
    font-size: 0.5rem;
    color:#00ffff;
}
.html-skill{
    width: 80%;
} 
.css-skill{
    width: 80%;
}
.react-skill{
    width: 75%;
} 
.node-skill{
    width: 70%;
} 

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.projects h2{
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px #00d9ff, 0 0 5px #4169e1;
    padding-top: 30px;
    position: relative;
    animation: moveBox 4s infinite ;
}
.projects .project-list{
    display: flex;
    flex-direction: column;
    margin: auto 5%;
}
.projects img{
    border-radius: 10px;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    border: 1px solid #808080;
    border-radius: 15px;
    margin: 2%;
    margin-bottom: 10px;
    padding: 40px;
    align-items: center;
    gap: 3%;
    transition: transform 0.2s ease;
}
.items:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px #00d9ff;
    border: none;
}
.items .desc{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
}
.items .desc h3{
    font-size: 2rem;
    color: #00d9ff;
    
}
.items .desc h4{
    padding: 5px 0px;
    font-size: 1.2rem;
}
.item-1{
    display: flex;
    flex-direction: row;
}
.item-2{
    display: flex;
    flex-direction: row-reverse;
}
.items .desc ul{
    padding: 20px;
    list-style-type: square;
}
.items a{
    color:#00d9ff;
}
.desc ul li{
    padding: 5px 0px;
    font-size: 0.8rem;
}
.event-gallery{
    height: 90vh;
    width: 90%; 
    margin: 60px auto;
    display: flex;
    align-items:baseline;
}

.event-gallery h2{
    font-size: 3rem;
}
.event-gallery p{
    font-weight: 200;
    font-size: 0.8rem;
}
.event-gallery .frame{
    width: 100%;
    height: 100%;
    text-align: center; 
}
.event-gallery img{
    height: 220px;  
    object-fit: contain;
    background-color: #212121;
    opacity: 0.5; 
    display: inline;
}
.event-gallery img:hover, .event-gallery img:focus{
    opacity: 1; 
}
.contact-form{
    color: #212121;
    border: 1px solid gray;
    background:linear-gradient(135deg, #00ffff, #4169e1);
    border-radius: 15px;
    width: 40%;
    padding: 25px 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.contact-form h2{
    font-size: 1.7rem;
    text-align: center;
}
.contact-form form{
    display: flex;
    color: #212121;
    flex-direction: column;
    width: 86%;
    justify-content: center;
    text-align: left;
    margin: auto;
}
.contact-form label{
    padding-left: 10px;
    padding-bottom: 5px;
}
.contact-form input, textarea, select{
    width: 100%;
    background-color: #212121;
    color: white;
    border: 1px solid #00d9ff;
    border-radius: 20px;
    padding: 10px 10px;
}
.contact-form select{
    color: gray;
}
.contact-form button{
    background-color:white;
    border-radius: 20px;
    color: #212121;
    border: none;
    font-size: 1.1rem;
    padding: 5px 15px;
    width: 40%;
    display: block;
    margin: 5px auto ; 
    text-align: center;
    transition: transform 0.2s ease;
}
.contact-form button:hover{
    transform: scale(1.2);
}
fieldset{
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
legend{
    font-weight: 700;
    margin-left: 20px;
}
footer{
    display: flex;
    padding: 20px;
    justify-content: center;
    color:white;
    box-shadow: 0px -3px 20px #00d9ff;
    margin-top: 30px;
}

@media (max-width : 900px){
    nav{
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    nav .list{
        width: 100%;
        font-size: 0.7rem;
        margin: 0px;
        justify-content: space-evenly;
    }
    .intro{
        flex-direction: column-reverse;
        width: 100%;
        margin: 1px;
        align-items: center;
    }
    .intro .text-intro{
        justify-content: center;
        align-items: center;
    }
    .contact-form{
        width: 75%;
    }
    .items{
        flex-direction: column;
    }
    .items img{
        width: 100%;
    }
    .contact-form button{
        width: 100%;
    }
    .about-flex{
        flex-direction: column;
    }
    .about .para{
        font-size: 0.8rem;
        width: 100%;
    }
    .skill-grid{
        width: 94%;
        margin: auto;
        height: 300px;
    }
    .event-gallery{
        flex-direction: column;
        height: auto;
    }
    .event-gallery h2, .event-gallery p{
        text-align: center;
    }
}