*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    height: 100vh;
    width: 100%;
}
.container{
    height: 300px;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    border: 2px sandybrown solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.container button{
    background-color: seagreen;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
}
/* .container .incr:disabled{
    background-color: #c0c0c0;
    color: #666;
    cursor: not-allowed;
    opacity: 0.9;
} */
.container .decr{
    background-color: #ff3030;
}
.internal-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 50%;
}
#msg{
    display: none;
    color: red;
    font-size: large;
    font-weight: 900;
}