.blog-container img{
    width: 100%;
    height: 50vh;
    border-radius: 25px;
    margin-bottom: 2rem;
}
.blog-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: auto;
}
.blog-heading{
    margin: 2rem 0px; 
}
.blog-container p{
    text-align: justify;
}
.blog-page {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: "Segoe UI", sans-serif;
}

.back-btn {
  border: none;
  background: none;
  color: #2563eb;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.blog-cover {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 1.5rem;
}

.blog-content h1 {
  font-size: 2.4rem;
  color: #1e3a8a;
  margin-bottom: 0.8rem;
}

.blog-desc {
  font-size: 1.1rem;
  color: #475569;
  margin-bottom: 1.5rem;
}

.blog-text {
  font-size: 1.1rem;
  line-height: 1.9;
  color: #1e293b;
  text-align: justify;
}

.author-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 1rem;
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid #e5e7eb;
}

.author-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.author-box div{
    padding-bottom: 20px;
}

.author-box h4 {
  margin: 0;
  color: #1e3a8a;
}

.author-box p {
  margin: 0;
  color: #64748b;
  font-size: 0.9rem;
}

